* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#outer-box {
    background: linear-gradient(to right, #3deb3d, #30b6eb);
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;


}

#inner-box {

    background-color: white;
    min-width: 25%;
    min-height: 70%;
    padding: 20px 30px;
    border-radius: 10px;
}

#inner-box h1 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 10px;
}

#box1 {
    display: flex;
    justify-content: center;

}

#inputbox {
    max-width: 70%;
    max-height: 25%;
    border: 1px solid blue;
    border-radius: 3px;


}

#inputbox:focus {
    outline: none;
}

#btn {
    background-color: blue;
    color: white;
    margin-left: 5px;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    padding: 7px 15px;
}

#ul {
    display: flex;
    justify-content: center;
    margin-top: 30px;



}

#btn2 {
    background-color: blue;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    color: white;
}

#btn3 {
    background-color: blue;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    color: white;
    margin: 10px;
}